.page-header{
    text-align: center;
    font-weight: bolder;
    background-color: rgb(38, 192, 219);
    color:white
}
img{
    
    max-width: 20%;
}
.p-3{
    margin: 1%;
    border: honeydew;
    border-style:groove ;
}
#search{
    border: rgba(0, 38, 255, 0.287);
    border-style: ridge;
}
#forecast-head{
    font-weight: bolder;
}
#uvlow{
    background-color: greenyellow;
}
#uvmid{
    background-color: yellow;
}
#uvhigh{
    background-color: red;
}